@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background-color: #CF9704;
    background-image: url('./images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}